@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500;600&display=swap');

.booking {
  margin: 0 auto ;
  font-family: -apple-system, BlinkMacSystemFont, 'Markazi Text', 'Karla', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../icons_assets/resto5.jpg);
  background-size: 100% 100%;
  opacity: 0.99;
}


@media screen and (max-width: 800px) {
    .booking {
        display: flex;
        flex-direction: column !important;
        gap: 20px;
        justify-content: center;
        align-items: center;
        /* transform: scale(0.8); */
      }


}